attrs~=21.4.0
libcst~=0.3.13
pandas
numpy
pytest
jupyter_packaging
jupyterlab==3.*
nbconvert~=6.4.0
IPython
loguru
intervaltree~=3.1.0
sortedcontainers~=2.2.2
matplotlib~=3.2.1
seaborn~=0.10.0
scikit-learn~=0.21.3
openai
transformers
pebble
astunparse
black
PyDrive2
