attrs~=21.4.0
libcst~=0.3.13
pandas
numpy
pytest
jupyter_packaging
jupyterlab==3.*
nbconvert~=6.4.0
IPython~=7.18.1
loguru~=0.5.3
intervaltree~=3.1.0
sortedcontainers~=2.2.2
matplotlib~=3.2.1
seaborn~=0.10.0
scikit-learn~=0.21.3
openai
pebble
astunparse
